<div class="panel panel-default" style="width: 35%;">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
    </div>
    <div class="panel-body">
    
     <canvas id="circle-graphics" width="600" height="400"></canvas>
    
        <a href="#" class="btn btn-default btn-block">Update Details</a>
    </div>
    <!-- /.panel-body -->
</div>
<script type="text/javascript">
	var oilCanvas = document.getElementById("circle-graphics");
	
	Chart.defaults.global.defaultFontFamily = "Lato";
	Chart.defaults.global.defaultFontSize = 18;
	
	var oilData = {
	    labels: [
	        "Feature Pantallas",
	        "Feature Flujos",
	    ],
	    datasets: [
	        {
	            data: [COUNT_PANTALLA, COUNT_FLUJO],
	            backgroundColor: [
	                "#679dc6",
	                "#5cb85c"
	            ]
	        }]
	};
	
	var pieChart = new Chart(oilCanvas, {
	  type: 'pie',
	  data: oilData
	});
</script>